 body {
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     color: rgb(243, 7, 7);
     margin: 0;
     padding: 0;
     font-family: 16px;
 }
 
 #container {
     width: 70%;
     padding: 1em;
     text-align: left;
     border: 1px solid rgb(1, 185, 25);
     margin: 0 auto;
 }
 
 #container h1 {
     font-size: 20px;
 }
 
 .header {
     background-color: #1b2127;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 70px;
 }
 
 .menu {
     height: inherit;
 }
 
 .header a {
     color: white;
     text-decoration: none;
     height: inherit;
     display: flex;
     align-items: center;
     padding: 0 10px;
 }
 
 ul,
 ol {
     margin: 0;
     padding: 0;
     list-style: none;
 }